{% extends "layout.html" %}
{% block faviconType %}favicon.ico{% endblock %}

{% block container %}
<h3>Formulario de solicitud</h3>
<div class="borderTable align-middle">
    {% if not role or role == "externo" %}
    Nombre: <input>
    Centro: <input>
    {% endif %}
    <table id="licencias" class="table table-striped table-hover" style="width:100%">
      <thead>
        <tr>
          <th>Título</th>
          <th>ISBN</th>
          <th>Número de licencias</th>
          {% if role == "interno" or role == "promotor" %}
          <th>Envío</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        <th><input></th>
        <th><input></th>
        <th><input></th>
        {% if role == "interno" or role == "promotor" %}
        <th>Enviar a: / Enviar a ti mismo</th>
        {% endif %}
      </tbody>
      <tfoot>
        <tr id="add">
          <td>
          </td>
          <td>
            <a href="#/" onclick="addUser()"><svg class="plusIcon" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path
                  d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
              </svg></a>
          </td>
          <td>
          </td>
        </tr>
      </tfoot>
    </table>
</div>
{% endblock %}

{% block user_info %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/machineFunctions.js')}}"></script>
{% endblock %}