{% extends "layout.html" %}
{% block faviconType %}favicon.ico{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
{% endblock %}

{% block container %}
<h3>Formulario de solicitud</h3>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">   
</script>   

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">   
</script>   

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
    rel="stylesheet" type="text/css" />   
    <input type="text" id="tags"> 
<div class="borderTable align-middle">
    <!-- TODO: Añadir los campos del formulario de google -->
    <form id="searchForm" action="#" method="post">
      <input type="text" class="form-control" id="searchByName" name="searchByName" placeholder="Título">
      <ul id="suggestions" style="display: none;"></ul>
      <input type="text" class="form-control" id="searchByISBN" name="searchByISBN" placeholder="ISBN">
      <input type="button" class="form-control" name="search" value="Añadir">
    </form>

    <form id="reqForm" action="/solicitar" method="post">
    <table id="licencias" class="table table-striped table-hover" style="width:100%">
      <thead>
        <tr>
          <th>Título</th>
          <th>ISBN</th>
          <th>Cantidad</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>
            {% if role == "interno" or role == "promotor" %}
            <th><button type="button" id="showModal" class="btn btn-primary">Enviar</button></th>
            {% else %}
            <th><button type="submit" name="action" value="solicitar">Solicitar</th>
            {% endif %}
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <div class="modal fade" id="sendModal" tabindex="-1" aria-labelledby="sendModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Enviar mensaje</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Destinatario:</label>
                <input type="text" name="email" class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Mensaje:</label>
                <textarea class="form-control" name="message" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" name="action" value="solicitar" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block user_info %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    var showModal = document.getElementById("showModal");
    showModal.onclick = function () {
      var tbody = document.querySelector("tbody");

      // Verificar si hay contenido dentro del tbody
      if (tbody.innerHTML.trim() === '') {
          alert("No hay contenido en la tabla");
      } else {
        // Recorrer todas las filas del tbody
        var rows = tbody.querySelectorAll("tr");
        rows.forEach(function(row) {
            var inputs = row.querySelectorAll("input");
            inputs.forEach(function(input) {
              var num_regex = /^-?\d+$/;
              if (input.value.trim() === ''){
                alert("Error: Debe indicar valores en todos los títulos o eliminarlos")
                return;
              } else if (! num_regex.test(input.value)) {
                alert("Error: No se ha introducido un valor correcto, debe de ser un número entero")
                return;
              }
            });
        });

      }
    };
  </script>

<script>
  var books = {{ books_data|tojson }};
  $(function() {
    var titles = {};
    var ISBNs = [];
    for (var book in books) {
      var title = books[book].name;
      var ISBN = books[book].isbn;
      titles[ISBN] = title; // Asocia cada ISBN con su título
      ISBNs.push(ISBN);
    }
    $("#searchByISBN").autocomplete({
      source: ISBNs,
      select: function(event, ui) {
        var selectedISBN = ui.item.value; // Obtiene el ISBN seleccionado
        var selectedTitle = titles[selectedISBN]; // Obtiene el título asociado al ISBN
        $("#searchByISBN").val(selectedISBN)
        $("#searchByName").val(selectedTitle); // Asigna el título al campo de búsqueda por nombre
        return false; // Evita la propagación del evento y el comportamiento predeterminado
      }
    });
    $("#searchByName").autocomplete({
      source: Object.values(titles), // Utiliza los títulos como fuente de autocompletado
      select: function(event, ui) {
        var selectedTitle = ui.item.value; // Obtiene el título seleccionado
        var selectedISBN = Object.keys(titles).find(key => titles[key] === selectedTitle); // Obtiene el ISBN asociado al título seleccionado
        $("#searchByISBN").val(selectedISBN); // Asigna el ISBN al campo de búsqueda por ISBN
        $("#searchByName").val(selectedTitle); 
        return false; // Evita la propagación del evento y el comportamiento predeterminado
      }
    });
        // Función para añadir una fila a la tabla
    function addRowToTable(title, ISBN) {
      // Obtener referencia a la tabla
      var table = $("#licencias tbody");

      var alreadyExists = false;
      table.find("tr").each(function() {
        var rowTitle = $(this).find("td:first").text();
        var rowISBN = $(this).find("td:nth-child(2)").text();
        if (rowTitle === title || rowISBN === ISBN) {
          alreadyExists = true;
          return false; // Salir del bucle each
        }
      });

      // Si la licencia ya existe, mostrar un mensaje de error
      if (alreadyExists) {
        alert("La licencia ya está en la tabla.");
        return;
      }


      // Construir la fila de la tabla con los datos proporcionados
      var row = $("<tr>").append(
        $("<td>").text(title),
        $("<td>").text(ISBN),
        $("<td>").append($("<input>").val(1)),
        $("<td>").append($("<button>").text("Borrar").addClass("deleteRow"))
        );

      // Añadir la fila a la tabla
      table.append(row);
    }
    $("#licencias").on("click", ".deleteRow", function() {
        $(this).closest("tr").remove();
    });
    // Evento click en el botón "Añadir"
    $("input[name='search']").click(function() {
      // Obtener los valores de los campos de búsqueda
      var title = $("#searchByName").val();
      var ISBN = $("#searchByISBN").val();
      if (Object.values(titles).includes(title) && ISBNs.includes(ISBN)) {
      // Añadir una nueva fila a la tabla con los datos
        addRowToTable(title, ISBN);
      } else {
        alert("Ese título y/o ISBN no existe")
      }
    });
  });
  // $(function() {

  // });
</script>

  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/bookFunctions.js')}}"></script> -->
{% endblock %}