{% extends "layout.html" %}
{% block faviconType %}favicon.ico{% endblock %}

{% block container %}
<h3>Solicitudes pendientes</h3>
<div class="borderTable align-middle">

    <table id="equipos" class="table table-striped table-hover" style="width:100%">
      <thead>
        <tr>
          <th>Id</th>
          <th>dest_email</th>
          <th>user_email</th>
          <th>book_id</th>
          <th>num_req_licenses</th>
          <th>timestamp</th>
          <th>Gestión</th>
        </tr>
      </thead>
      <tbody>
        {% for request in requests %}
        {% if request.status == 'En espera' %}
        <tr>
          <td>{{ request.id }}</td>
          <td>{{ request.dest_email }}</td>
          <td>{{ request.user.email }}</td>
          <td>{{ request.book_id }}</td>
          <td>{{ request.num_req_licenses }}</td>
          <td>{{ request.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          <td>
            <button class="btn btn-success" onclick="acceptRequest('{{ request.id }}')">Aceptar</button>
            <button class="btn btn-danger" onclick="denyRequest('{{ request.id }}')">Denegar</button>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
</div>

<br><br>

<h3>Otras solicitudes</h3>
<div class="borderTable align-middle">
    <table id="equipos2" class="table table-striped table-hover" style="width:100%">
      <thead>
        <tr>
          <th>Id</th>
          <th>dest_email</th>
          <th>user_email</th>
          <th>book_id</th>
          <th>num_req_licenses</th>
          <th>timestamp</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        {% for request in requests %}
        {% if request.status != 'En espera' %}
        <tr>
          <td>{{ request.id }}</td>
          <td>{{ request.dest_email }}</td>
          <td>{{ request.user.email }}</td>
          <td>{{ request.book_id }}</td>
          <td>{{ request.num_req_licenses }}</td>
          <td>{{ request.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          <td>{{ request.status }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}

{% block user_info %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/machineFunctions.js')}}"></script>
  <script>
    function acceptRequest(requestId) {
      // Aquí debes enviar una solicitud al servidor para aceptar la solicitud con el ID proporcionado
      console.log("Solicitud aceptada: " + requestId);
    }

    function denyRequest(requestId) {
      // Aquí debes enviar una solicitud al servidor para denegar la solicitud con el ID proporcionado
      console.log("Solicitud denegada: " + requestId);
    }
  </script>
{% endblock %}
